<mat-spinner *ngIf="!(poll$ | async)"></mat-spinner>

<div class="container" *ngIf="poll$ | async as poll">
  <mat-card class="form-card" *ngIf="poll.status === 'success'">
    <mat-card-title>{{poll.data.title}}</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit(pollForm)" id="ngForm" #pollForm="ngForm">
        <mat-radio-group name="choice" [(ngModel)]="choice" required>
          <mat-radio-button *ngFor="let option of poll.data.options" [value]="option">
            {{option.description}}
          </mat-radio-button>
        </mat-radio-group>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" form="ngForm" [disabled]="submitting">
        <mat-spinner *ngIf="submitting"></mat-spinner>
        {{(submitting) ? 'Voting' : 'Vote'}}
      </button>
    </mat-card-actions>
  </mat-card>

  <div class="poll-not-found" *ngIf="poll.status === 'failed'">
    <h2>Poll not found.</h2>
    <h2>Maybe you were given a broken link?</h2>
    <p>&ngsp;</p>
    <h3>Create a <a [routerLink]="['new']">new Poll</a></h3>
</div>