:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;

    .container {
        width: 50%;
    }

    .poll-not-found {
        text-align: center;
    }

    .form-card {
        width: 50%;
    }

    .mat-form-field.full-width {
        width: 100%;
    }

    .mat-radio-group {
        display: inline-flex;
        flex-direction: column;

        .mat-radio-button {
            margin: 5px;
        }
    }
}