<mat-card class="form-card" *ngIf="!(pollResult$ | async)">
  <mat-card-title>Create Poll</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit(pollForm)" id="ngForm" #pollForm="ngForm">
      <mat-form-field class="full-width" floatLabel="never">
        <input matInput placeholder="Question..." name="pollTitle" ngModel required>
        <mat-error *ngIf="!pollForm.hasError('required')">
          Question is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" floatLabel="never" *ngFor="let option of options">
        <input matInput [id]="'option' + option.id"
                        placeholder="Poll option..."
                        [name]="'option' + option.id"
                        [(ngModel)]="option.description"
                        (focus)="onOptionInputFocused($event, option.id)"
                        [required]="optionRequired(option)">
        <mat-error *ngIf="!pollForm.hasError('required')">
          At least one option is required
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" form="ngForm" [disabled]="submitting">
      <mat-spinner *ngIf="submitting"></mat-spinner>
      {{(submitting) ? 'Submitting' : 'Start Poll'}}
    </button>
  </mat-card-actions>
</mat-card>

<app-poll-share [poll]="poll" *ngIf="pollResult$ | async as poll"></app-poll-share>