:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;

    .form-card {
        min-width: 50%;
    }

    .mat-form-field.full-width {
        width: 100%;
    }
}