/* You can add global styles to this file, and also import other style files */
@import './theme/theme';

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f8f8f8;
}